In [1]:
import pickle
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
import random
import clip
import torch
import time
from tqdm import tqdm

In [74]:
idx23_0 = pickle.load(open("/data/cc3m_embed/embed_cc3m_2023/order0.p","rb"))
idx23_1 = pickle.load(open("/data/cc3m_embed/embed_cc3m_2023/order1.p","rb"))
idx18_0 = pickle.load(open("/data/cc3m_embed/embed_cc3m_2018_b/order0.p","rb"))
idx18_1 = pickle.load(open("/data/cc3m_embed/embed_cc3m_2018_b/order1.p","rb"))
idx18 = idx18_0 + idx18_1
idx23 = idx23_0 + idx23_1
missing_indexes = np.array(list(set(idx18) - set(idx23)))

In [48]:
comparison = torch.from_numpy(np.load("/data/cc3m/cc3m_2023/embeddings/CC_vs_imagenet.npy")).cuda()

In [51]:
(max, max_indices) = torch.max(comparison,1)

In [55]:
max = max.cpu().numpy()
max_indices = max_indices.cpu().numpy()

In [90]:
max_indices

array([582, 601, 894, ..., 989, 817, 814])

In [80]:
cc_vs_imagenet = pd.DataFrame({'idx':range(len(max_indices)),'max':max, 'max_indices':max_indices}, index=range(len(max_indices)))

In [81]:
cc_vs_imagenet

             idx       max  max_indices
0              0  0.832031          582
1              1  0.737793          601
2              2  0.768555          894
3              3  0.728027          598
4              4  0.337158          527
...          ...       ...          ...
3318328  3318328  0.674805          781
3318329  3318329  0.739258          769
3318330  3318330  0.870605          989
3318331  3318331  0.761230          817
3318332  3318332  0.722656          814

[3318333 rows x 3 columns]

In [82]:
threshold = 0.7

In [98]:
cc_vs_imagenet_threshold = cc_vs_imagenet[cc_vs_imagenet['max']>threshold]
cc_vs_imagenet_threshold

             idx       max  max_indices
0              0  0.832031          582
1              1  0.737793          601
2              2  0.768555          894
3              3  0.728027          598
5              5  0.779785          981
...          ...       ...          ...
3318327  3318327  0.758301          913
3318329  3318329  0.739258          769
3318330  3318330  0.870605          989
3318331  3318331  0.761230          817
3318332  3318332  0.722656          814

[2377424 rows x 3 columns]

In [84]:
cc_vs_imagenet_missing = cc_vs_imagenet.loc[missing_indexes-2]
print(len(cc_vs_imagenet_missing))
cc_vs_imagenet_missing.head()

526173

             idx       max  max_indices
3145732  3145732  0.798828          989
9              9  0.886719          538
11            11  0.808105          860
12            12  0.782227          769
2097163  2097163  0.675293          895

In [99]:
cc_vs_imagenet_missing_threshold = cc_vs_imagenet_missing[cc_vs_imagenet_missing['max']>threshold]
cc_vs_imagenet_missing_threshold

             idx       max  max_indices
3145732  3145732  0.798828          989
9              9  0.886719          538
11            11  0.808105          860
12            12  0.782227          769
1048590  1048590  0.760742          819
...          ...       ...          ...
2097134  2097134  0.747070          703
1048567  1048567  0.791016          598
2097144  2097144  0.814941          762
1048570  1048570  0.786133          781
1048573  1048573  0.721191          979

[408213 rows x 3 columns]

In [105]:
missing_ind = np.zeros(1000, dtype='int32')
all_ind = np.zeros(1000, dtype='int32')
for i in range(len(cc_vs_imagenet_missing_threshold)):
    missing_ind[cc_vs_imagenet_missing_threshold['max_indices'].iloc[i]] += 1
for i in range(len(cc_vs_imagenet_threshold)):
    all_ind[cc_vs_imagenet_threshold['max_indices'].iloc[i]] += 1

In [110]:
imagenet_classes = pd.DataFrame({'idx':range(1000),'missing':missing_ind,'all':all_ind}, index=range(1000))

In [111]:
imagenet_classes

     idx  missing   all
0      0       28    96
1      1      114   904
2      2      358  1654
3      3       54   209
4      4        0     1
..   ...      ...   ...
995  995        0     0
996  996        2     7
997  997        0     2
998  998      144   829
999  999       34   260

[1000 rows x 3 columns]

In [113]:
imagenet_classes = imagenet_classes[imagenet_classes['all']>0]

In [115]:
imagenet_classes['percentage'] = imagenet_classes['missing']/imagenet_classes['all']

/tmp/ipykernel_3490025/1342008653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imagenet_classes['percentage'] = imagenet_classes['missing']/imagenet_classes['all']

In [116]:
imagenet_classes

     idx  missing   all  percentage
0      0       28    96    0.291667
1      1      114   904    0.126106
2      2      358  1654    0.216445
3      3       54   209    0.258373
4      4        0     1    0.000000
..   ...      ...   ...         ...
992  992        1    69    0.014493
996  996        2     7    0.285714
997  997        0     2    0.000000
998  998      144   829    0.173703
999  999       34   260    0.130769

[884 rows x 4 columns]